<link rel="stylesheet" href="/css/header.css">

<div class = "header">
    <div class = "header-content-container">
        <a href="/">
            <div class = "logo-container">
                <i class="fa-solid fa-people-group"></i>
                DLSU Orgs To Pick
            </div>
        </a>
        <div class = "options-container">
            {{#if (eq loggedIn.accountType "student")}}
                <a href = "/reviewpage">
                    <div class = "options-item"></i>Write a Review</div>
                </a>
            {{/if}}
            <a href = "/searchorg">
                <div class = "options-item">Search Organizations</div>
            </a>
            <a href = "/searchreview">
                <div class = "options-item">Search Reviews</div>
            </a>     
            <a href = "/about">
                <div class = "options-item">About Us</div>
            </a>           
        </div>  
        {{#if (eq loggedIn.accountType "student")}}
            <div class = "profile-containers">
                <div class = "user-name-profile">
                    <a href = "/userpage/{{loggedIn.userPage}}/">
                        {{loggedIn.userName}}
                    </a>
                </div>      
                <a href = "/userpage/{{loggedIn.userPage}}/">
                    <img id = "avatar" src = "{{loggedIn.profileImage}}">
                </a>         
            </div>
        {{else if (eq loggedIn.accountType "organization")}}
            <div class="profile-containers">
                <div class="user-name-profile">
                    <a href="/orgpage/{{loggedIn.orgPage}}">
                        {{loggedIn.orgName}}
                    </a>
                </div>
                <a href="{{loggedIn.orgPage}}">
                    <img id = "avatar" src="{{loggedIn.orgPic}}">
                </a>
            </div>
        {{else}}
            <div class = "profile-containers">
            <a href="/signup">
                <div class = "sign-up">Sign Up</div>
            </a>
            <a href="/login">
                <div class = "log-in">Log In</div>
            </a>         
        </div>
        {{/if}}
    </div>
</div>
