<link rel="stylesheet" href="/css/review.css">

<div class="review" data-review-id="{{_id}}">
    <div class="review-proper-container">
        <div class="review-container">
            <div class="review-header">
                <div class="profile-container">
                    <img src="{{profileImage}}" alt="Profile">
                </div>
                <div class="post-info">
                    <div class="user-info-container">
                        <a href="{{userPage}}">
                            <div class="user-name">{{userName}}</div>
                        </a>
                        <div class="time">{{timeAgo timePosted}}</div>
                    </div>
                </div>
                <div class="rating-container">
                    {{#times reviewRating}}
                        <i class="fa-solid fa-star"></i>
                    {{/times}}
                </div>
            </div>
            <div class="review-body">
                <a href = "{{orgPage}}">
                    <div class = "review-body-header">{{orgName}}
                        {{#if orgpage}}
                            <a href="/reviewedit">Edit Review</a>
                        {{/if}}
                    </div>
                </a>     
                <div class="review-text">{{reviewText}}</div>

                {{#if reviewImage}}
                    <div class="image">
                        <img src="{{reviewImage}}" alt="Review Image">
                    </div>
                {{/if}}

                {{#if responseMessage}}
                <div class="response-container">
                    <div class="response-header">{{orgName}} replied</div>
                    <div class="response-message">
                        <div>{{responseMessage}}</div>
                    </div>
                </div>
                {{/if}} 

                {{#if orgpage}}
                <div class="reply-section">
                    <button class="reply-btn">Reply to this Review</button>
                    <div class="reply-box-container">
                        <textarea class="reply-textbox" placeholder="Write a reply..."></textarea>
                        <button class="submit-reply-btn">Submit</button>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="review-footer">
        <div class="helpfulness-container">
            <button class="helpfulness-item" onclick="updateHelpfulness('dislikes', '{{_id}}')">
                Mark as Unhelpful
            </button>
            <button class="helpfulness-item" onclick="updateHelpfulness('likes', '{{_id}}')">
                Mark as Helpful
            </button>
        </div>
        <div class="likes-container">
            <div class="likes-container-content" id="dislikes-{{_id}}">{{dislikesCount}}</div>
            <div class="likes-container-content"><i class="fa-regular fa-thumbs-down"></i></div>
            <div class="likes-container-content" id="likes-{{_id}}">{{likesCount}}</div>
            <div class="likes-container-content"><i class="fa-regular fa-thumbs-up"></i></div>
        </div>
    </div>
</div>
