<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/css/orgpage.css">  
        <script src="/js/orgpage.js"></script>
    </head> 

    <body>
        <div class="wrapper">
            <div class="org-profile">
                <img class="org-profile-pic" src="{{org.orgPic}}" alt="{{org.orgName}}">
                <h2>{{org.orgName}}</h2>
                <p>
                    {{#times (round org.orgRating)}}
                        <i class="fa-solid fa-star"></i>
                    {{/times}}

                    {{#times (sub 5 (round org.orgRating))}}
                        <i class="fa-regular fa-star"></i>
                    {{/times}}

                    ({{totalReviews}} reviews)
                </p>
                <p>{{org.orgDesc}}</p>

                {{#if loggedIn}}
                    {{#if (eq loggedIn.accountType "organization")}}
                        {{#if (eq loggedIn.orgPage org.orgPage)}}
                            <span class="edit-icon">
                                <button>
                                    <a href="/editorg/{{org.orgPage}}">✎</a>
                                </button>
                            </span>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div> <!--org-profile-->
        </div> <!--wrapper-->
        
        <div class="filters">
            {{#if user}}
                {{#if (eq user.accountType "student")}}
                    <div class="add-review-container">
                        <a href="/reviewpage">Write a Review</a>
                    </div>
                {{/if}}
            {{/if}}

            <div class="filter-review-container">
                <div class="search-container">
                    <div class="search-bar-container">
                        <input type="text" id="searchBar" placeholder="Search for a Review" onkeyup="searchReviews()">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </div> 
                </div> 

                <div class="filter-rating">
                    <button class="filter-btn">Filter by Rating</button>
                    <div class="dropdown">
                        <a href="#" data-rating="all" onclick="filterByRating('all')">All Ratings</a>
                        <a href="#" data-rating="5" onclick="filterByRating(5)">5 Stars</a>
                        <a href="#" data-rating="4" onclick="filterByRating(4)">4 Stars</a>
                        <a href="#" data-rating="3" onclick="filterByRating(3)">3 Stars</a>
                        <a href="#" data-rating="2" onclick="filterByRating(2)">2 Stars</a>
                        <a href="#" data-rating="1" onclick="filterByRating(1)">1 Star</a>
                    </div> 
                </div> 
            </div> 
        </div> 

        <div class="recent-reviews-container">
            {{#each reviews}}
                {{> review this orgpage=true loggedIn=../user}}
            {{/each}}  
        </div>

        {{#if (gt totalPages 1)}}
            <div class="page-nav">
                {{#if (gt currentPage 1)}}
                    <a href="?page={{sub currentPage 1}}">&lt; Prev</a>
                {{/if}}

                {{#if (lt currentPage totalPages)}}
                    <a href="?page={{add currentPage 1}}">Next &gt;</a>
                {{/if}}
            </div> 
        {{/if}}

        <div class="page-nav">
            <span id="page-numbers">
                <span id="cur-page">{{currentPage}}</span> of {{totalPages}}
            </span>
        </div> 
    </body>
</html>
