<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/css/reviewpage.css">  
        <script src="/js/reviewpage_func.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div class="review-container">
                <h2>Writing a Review</h2> 
                <form id="reviewForm" 
                    data-username="{{#if loggedIn}}{{loggedIn.userName}}{{/if}}"
                    data-userpage="{{#if loggedIn.userPage}}{{loggedIn.userPage}}{{/if}}"
                    data-orgName="{{orgName}}" 
                    data-orgPage="/orgpage/{{orgPage}}">

                    <div class="organization-container">
                        {{#if orgName}}
                            <h2>Organization: <span>{{orgName}}</span></h2>
                        {{else}}
                            <label for="organization"><b>Select Organization:</b></label><br/>
                            <select id="organization">
                                <option value="">Select an organization</option>
                                <option value="GDGOC">Google Developer Groups on Campus (GDGOC)</option>
                                <option value="LSCS">La Salle Computer Society (LSCS)</option>
                                <option value="DSS">Data Science Society (DSS)</option>
                                <option value="AU">Archers for UNICEF (AU)</option>
                                <option value="PTS">Peer Tutor Society (PTS)</option>
                            </select>
                        {{/if}}
                    </div>

                    <label><b>Rating:</b></label>
                    <div class="rating">
                        <span class="star" data-value="1"><i class="fa-solid fa-star"></i></span>
                        <span class="star" data-value="2"><i class="fa-solid fa-star"></i></span>
                        <span class="star" data-value="3"><i class="fa-solid fa-star"></i></span>
                        <span class="star" data-value="4"><i class="fa-solid fa-star"></i></span>
                        <span class="star" data-value="5"><i class="fa-solid fa-star"></i></span>
                    </div>
                    <input type="hidden" id="rating" name="rating" required>

                    <label for="description"><b>Description:</b></label><br />
                    <textarea id="description" required></textarea><br />

                    <div class="btn-container">
                        <button type="reset" class="discard-btn" id="discardChanges">Discard</button>
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
