<!DOCTYPE html>
<html>
    <head>
        <title>
            DLSU Orgs To Pick - Search for Organizations
        </title>
        <link rel="stylesheet" href="/css/searchreview.css"/>
        <script type="text/javascript" src="/js/searchreview_function.js"></script>
    </head>
    <body>
        <div class="content-page">
            <div class="search-portion">
                <input id="search-bar-review" type="text" placeholder="Look for an Organization"/>
                <button id="search-button-review"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="content-elements">
                <div class="filter-portion">
                    <div class="filter-labels">
                        <span class="section-header">Filters</span>
                        <button id="clear-feature-review">Clear</button>
                    </div>
                    <div class="ratings">
                        <span class="section-subheader">Ratings</span>
                        <form class="ratings-list">
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="5-stars" name="5-stars" value="5"/>
                                <label for="5-stars">5 
                                    <span class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="4-stars" name="4-stars" value="4"/>
                                <label for="4-stars">4 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="3-stars" name="3-stars" value="3"/>
                                <label for="3-stars">3 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="2-stars" name="2-stars" value="2"/>
                                <label for="2-stars">2
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                            <input type="checkbox" class="rate-opts-review" id="1-stars" name="1-stars" value="1"/>
                                <label for="1-stars">1
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="home-college">
                        <span class="section-subheader">Home College</span>
                        <form class="college-list">
                            <input type="checkbox" class="college-opts-review" id="ccs" name="ccs" value="ccs"/>
                            <label for="ccs">CCS </label><br/>
                            <input type="checkbox" class="college-opts-review" id="rvcob" name="rvcob" value="rvcob"/>
                            <label for="rvcob">RVCOB </label><br/>
                            <input type="checkbox" class="college-opts-review" id="cos" name="cos" value="cos"/>
                            <label for="cos">COS </label><br/>
                            <input type="checkbox" class="college-opts-review" id="cla" name="cla" value="cla"/>
                            <label for="cla">CLA </label><br/>
                            <input type="checkbox" class="college-opts-review" id="gcoe" name="gcoe" value="gcoe"/>
                            <label for="gcoe">GCOE </label><br/>
                            <input type="checkbox" class="college-opts-review" id="other" name="other" value="other"/>
                            <label for="other">OTHER </label><br/>
                        </form>
                    </div>
                </div>  
                <div class="review-portion">
                    <div class="review-label">
                        <span class="section-header">Reviews</span>
                    </div>
                    <div id="review-list">
                        {{#each reviewList}}
                         <div class = "review">  
                            <div class = "review-proper-container">
                                <div class = "review-container">  
                                    <div class="review-header">
                                        <div class="profile-container">
                                            <img src="{{profileImage}}" alt="Profile">
                                        </div>
                                        <div class="post-info">
                                            <div class="user-info-container">
                                                <a href="/userpage/{{userPage}}">
                                                    <div class="user-name">{{userName}}</div>
                                                </a>
                                                <div class="time">{{timeAgo timePosted}}</div>
                                            </div>
                                        </div>
                                        <div class="rating-edit-container">
                                            <div class="rating-container {{#if (eq loggedIn.userName userName) }} gone{{/if}}">
                                                {{#times reviewRating}}
                                                    <i class="fa-solid fa-star"></i>
                                                {{/times}}
                                            </div>
                                            {{#if (eq loggedIn.userName userName) }}    
                                                <div class="edit-container">
                                                    <a href="/reviewedit">
                                                        <i class="fa-solid fa-pencil"></i>
                                                    </a>
                                                    <a href="/">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <a href = "{{orgPage}}">
                                            <div class = "review-body-header">{{orgName}}
                                            </div>
                                        </a>     
                                        <div class="review-text">{{reviewText}}</div>

                                        {{#if reviewImage}}
                                            <div class="image">
                                                <img src="{{reviewImage}}" alt="Review Image">
                                            </div>
                                        {{/if}}

                                        {{#if responseMessage}}
                                            <div class="response-container">
                                                {{#if (eq loggedIn.userName responseUser)}}
                                                    <div class="response-header">You replied</div>
                                                {{else}}
                                                    <div class="response-header">{{orgName}} replied</div>
                                                {{/if}}
                                                <div class="response-message">
                                                    {{responseMessage}}
                                                </div>
                                            </div>
                                        {{/if}}

                                        {{#if orgpage}}
                                        <div class="reply-section">
                                            <button class="reply-btn">Reply to this Review</button>
                                            <div class="reply-box-container">
                                                <textarea class="reply-textbox" placeholder="Write a reply..."></textarea>
                                                <button class="submit-reply-btn" data-review-id="{{_id}}">Submit</button>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="review-footer">
                                <div class="helpfulness-container">
                                    <button id="helpful" id="not-help-{{_id}}" class="helpfulness-item"  data-action="not" data-review-id="{{_id}}" {{#if loggedIn}} onclick="updateHelpfulness('not', '{{_id}}')" {{/if}}>
                                        Not Helpful
                                    </button>
                                    <button id="not-helpful" id="help-{{_id}}" class="helpfulness-item"  data-action="help" data-review-id="{{_id}}" {{#if loggedIn}} onclick="updateHelpfulness('help', '{{_id}}')" {{/if}}>
                                        Helpful
                                    </button>
                                </div>
                                <div class="likes-container">
                                    <div class="likes-container-content" id="dislike-{{_id}}">
                                        {{#if (gt dislikesCount 0)}}
                                            <span>{{dislikesCount}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="likes-container-content">
                                        <i class="fa-regular fa-thumbs-down" id="dislike-icon-{{_id}}" {{#if loggedIn}} onclick="toggleLikeDislike('{{_id}}', 'dislike')" {{/if}}></i>
                                    </div>
                                    <div class="likes-container-content" id="like-{{_id}}">
                                        {{#if (gt likesCount 0)}}
                                            <span>{{likesCount}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="likes-container-content">
                                        <i class="fa-regular fa-thumbs-up" id="like-icon-{{_id}}" {{#if loggedIn}} onclick="toggleLikeDislike('{{_id}}', 'like')" {{/if}}></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
         </div>
        <script> // toggling likes and dislikes
            document.addEventListener("click", function (event) {
                if (event.target.matches(".fa-thumbs-up, .fa-thumbs-down")) {
                    console.log("Click detected on:", event.target);
                    const reviewId = event.target.id.split("-")[2];
                    console.log("Review ID:", reviewId);
                    const reaction = event.target.classList.contains("fa-thumbs-up") ? "like" : "dislike";
                    console.log("Reaction:", reaction);
                    toggleLikeDislike(reviewId, reaction);
                }
                if (event.target.matches(".helpfulness-item")) {
                    const reviewId = event.target.getAttribute("data-review-id");
                    const action = event.target.getAttribute("data-action");
                    console.log(reviewId);
                    if (reviewId && action) {
                        updateHelpfulness(action, reviewId);
                    }
                }
            });
            async function toggleLikeDislike(reviewId, reaction) {
                try {
                    const likeIcon = document.getElementById(`like-icon-${reviewId}`);
                    const dislikeIcon = document.getElementById(`dislike-icon-${reviewId}`);
                    
                    const isLiked = likeIcon.classList.contains("fa-solid");
                    const isDisliked = dislikeIcon.classList.contains("fa-solid");

                    let action = reaction;

                    // determine the action before sending the request
                    if (reaction === "like") {
                        if (isLiked) {
                            action = "undoLike";
                        } 
                        else if (isDisliked) {
                            action = "cancelDislike";
                        }
                        else {
                            action = "like";
                        }
                    } else if (reaction === "dislike") {
                        if (isDisliked) {
                            action = "undoDislike"; 
                        } 
                        else if (isLiked) {
                            action = "cancelLike";
                        }
                        else {
                            action = "dislike";
                        }
                    }

                    const response = await fetch(`/review/${reviewId}/react`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ reaction: action }),
                    });

                    const result = await response.json();

                    if (result.success) {
                        // Update counts
                        document.getElementById(`like-${reviewId}`).innerHTML = 
                            result.likesCount > 0 ? `<span>${result.likesCount}</span>` : "";
                        document.getElementById(`dislike-${reviewId}`).innerHTML = 
                            result.dislikesCount > 0 ? `<span>${result.dislikesCount}</span>` : "";


                        // Properly toggle icons
                        if (action === "like") {
                            likeIcon.classList.add("fa-solid");
                            likeIcon.classList.remove("fa-regular");
                        } 
                        else if (action === "dislike") {
                            dislikeIcon.classList.add("fa-solid");
                            dislikeIcon.classList.remove("fa-regular");
                        } 
                        else if (action === "undoLike") {
                            likeIcon.classList.remove("fa-solid");
                            likeIcon.classList.add("fa-regular");
                        } 
                        else if (action === "undoDislike") {
                            dislikeIcon.classList.remove("fa-solid");
                            dislikeIcon.classList.add("fa-regular");
                        }
                        else if (action === "cancelDislike") {
                            likeIcon.classList.add("fa-solid");
                            likeIcon.classList.remove("fa-regular");
                            dislikeIcon.classList.remove("fa-solid");
                            dislikeIcon.classList.add("fa-regular");
                        } 
                        else if (action === "cancelLike") {
                            dislikeIcon.classList.add("fa-solid");
                            dislikeIcon.classList.remove("fa-regular");
                            likeIcon.classList.remove("fa-solid");
                            likeIcon.classList.add("fa-regular");
                        }
                    } else {
                        alert("Error updating reaction.");
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            }

            function updateHelpfulness(type, reviewId) {
                const helpfulBtn = document.querySelector(`[data-action="help"][data-review-id="${reviewId}"]`);
                const unhelpfulBtn = document.querySelector(`[data-action="not"][data-review-id="${reviewId}"]`);
                if (type === "help") {
                    // helpful toggle
                    helpfulBtn.classList.toggle("selected");
                    helpfulBtn.classList.toggle("active-green");
                    unhelpfulBtn.classList.remove("active-green");
                } 
                else if (type === "not") {
                    // not helpful toggle
                    unhelpfulBtn.classList.toggle("selected");
                    unhelpfulBtn.classList.toggle("active-green");
                    helpfulBtn.classList.remove("active-green");
                }
            }
        </script>
    </body>
</html>