<!DOCTYPE html>
<html>
    <head>
        <title>
            DLSU Orgs To Pick - Search for Organizations
        </title>
        <link rel="stylesheet" href="/css/search-style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/searchorg_function.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script>
            Handlebars.registerHelper("times", function(n, block) { 
                let result = "";
                for (let i = 0; i < n; i++) {
                    result += block.fn(i);
                }
                return result;
            });
        </script>
    </head>
    <body>
        <div class="content-page">
            <div class="search-portion">
                <input id="search-bar" type="text" placeholder="Look for an Organization"/>
                <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
              
            </div>
            <div class="content-elements">
                <div class="filter-portion">
                    <div class="filter-labels">
                        <span class="section-header">Filters</span>
                        <span class="clear-feature">Clear</span>
                    </div>
                    <div class="ratings">
                        <span class="section-subheader">Ratings</span>
                        <form class="ratings-list">
                            <div class="ratings-input-field">
                                <input type="checkbox" id="5-stars" name="5-stars" value="5-stars"/>
                                <label for="5-stars">5 
                                    <span class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="4-stars" name="4-stars" value="4-stars"/>
                                <label for="4-stars">4 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="3-stars" name="3-stars" value="3-stars"/>
                                <label for="3-stars">3 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" id="2-stars" name="2-stars" value="2-stars"/>
                                <label for="2-stars">2
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                            <input type="checkbox" id="1-stars" name="1-stars" value="1-stars"/>
                                <label for="1-stars">1
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="home-college">
                        <span class="section-subheader">Home College</span>
                        <form class="college-list">
                            <input type="radio" id="ccs" name="ccs" value="ccs"/>
                            <label for="ccs">CCS </label><br/>
                            <input type="radio" id="RVCOB" name="RVCOB" value="RVCOB"/>
                            <label for="RVCOB">RVCOB </label><br/>
                            <input type="radio" id="cos" name="cos" value="cos"/>
                            <label for="cos">COS </label><br/>
                            <input type="radio" id="cla" name="cla" value="cla"/>
                            <label for="cla">CLA </label><br/>
                            <input type="radio" id="gcoe" name="gcoe" value="gcoe"/>
                            <label for="gcoe">GCOE </label><br/>
                            <input type="radio" id="other" name="other" value="other"/>
                            <label for="other">Other </label><br/>
                        </form>
                    </div>
                </div>  
                <div class="org-portion">
                    <div class="org-labels">
                        <span class="section-header">Organizations</span>
                        <span class="sort-header">Sort by</span>
                    </div>
                    <div id="org-list">
                        {{#each orgList}}
                        <div class="org-section">
                            <img class="org-profile-pic" src="{{this.orgPic}}"/>
                            <div class="org-info">
                                <a href = "orgpage.html">
                                    <div class="org-name">
                                        {{this.orgName}}
                                    </div>
                                </a>
                                <div class="org-rating">
                                    <span class="org-stars">
                                        {{#times this.orgRating}}
                                        <i class="fa-solid fa-star"></i>
                                        {{/times}}
                                        <span class="rating-text">
                                            {{this.orgRating}}({{this.orgReviews}} reviews)
                                        </span>
                                    </span>
                                </div>
                                <div class="review-desc">
                                   {{this.reviewDesc}}
                                </div>
                                <div class="org-college">
                                    {{this.orgCollege}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="page-nav">
                <span id="page-numbers"><span id="cur-page">1</span> 2 3 4 5 6 ></span>
                <span id="cur-page-num">1 of 6 </span>
            </div>
        </div>
    </body>
</html>