<!DOCTYPE html>
<html>
    <head>
        <title>
            DLSU Orgs To Pick - Search for Organizations
        </title>
        <link rel="stylesheet" href="/css/searchreview.css"/>
        <link rel="stylesheet" href="/css/review.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/searchreview_function.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script>
            Handlebars.registerHelper("times", function(n, block) { 
                let result = "";
                for (let i = 0; i < n; i++) {
                    result += block.fn(i);
                }
                return result;
            });
            Handlebars.registerHelper("timeAgo", function(timestamp) { // computing time posted in reviews
            const now = new Date();
            const past = new Date(timestamp);
            const diffInSeconds = Math.floor((now - past) / 1000);

            const timeIntervals = {
                year: 31536000,
                month: 2592000,
                week: 604800,
                day: 86400,
                hour: 3600,
                minute: 60,
                second: 1
            };

            for (const [unit, seconds] of Object.entries(timeIntervals)) {
                const interval = Math.floor(diffInSeconds / seconds);
                if (interval >= 1) {
                    return `${interval} ${unit}${interval > 1 ? "s" : ""} ago`;
                }
            }
            return "Just now";
        })
        </script>
    </head>
    <body>
        <div class="content-page">
            <div class="search-portion">
                <input id="search-bar-review" type="text" placeholder="Look for an Organization"/>
                <button id="search-button-review"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="content-elements">
                <div class="filter-portion">
                    <div class="filter-labels">
                        <span class="section-header">Filters</span>
                        <button id="clear-feature-review">Clear</button>
                    </div>
                    <div class="ratings">
                        <span class="section-subheader">Ratings</span>
                        <form class="ratings-list">
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="5-stars" name="5-stars" value="5"/>
                                <label for="5-stars">5 
                                    <span class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="4-stars" name="4-stars" value="4"/>
                                <label for="4-stars">4 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="3-stars" name="3-stars" value="3"/>
                                <label for="3-stars">3 
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                                <input type="checkbox" class="rate-opts-review" id="2-stars" name="2-stars" value="2"/>
                                <label for="2-stars">2
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="ratings-input-field">
                            <input type="checkbox" class="rate-opts-review" id="1-stars" name="1-stars" value="1"/>
                                <label for="1-stars">1
                                    <span class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <br/>
                    <div class="home-college">
                        <span class="section-subheader">Home College</span>
                        <form class="college-list">
                            <input type="checkbox" class="college-opts-review" id="ccs" name="ccs" value="ccs"/>
                            <label for="ccs">CCS </label><br/>
                            <input type="checkbox" class="college-opts-review" id="rvcob" name="rvcob" value="rvcob"/>
                            <label for="rvcob">RVCOB </label><br/>
                            <input type="checkbox" class="college-opts-review" id="cos" name="cos" value="cos"/>
                            <label for="cos">COS </label><br/>
                            <input type="checkbox" class="college-opts-review" id="cla" name="cla" value="cla"/>
                            <label for="cla">CLA </label><br/>
                            <input type="checkbox" class="college-opts-review" id="gcoe" name="gcoe" value="gcoe"/>
                            <label for="gcoe">GCOE </label><br/>
                            <input type="checkbox" class="college-opts-review" id="other" name="other" value="other"/>
                            <label for="other">OTHER </label><br/>
                        </form>
                    </div>
                </div>  
                <div class="review-portion">
                    <div class="review-label">
                        <span class="section-header">Reviews</span>
                    </div>
                    <div id="review-list">
                        {{#each reviewList}}
                        <div class="review">
                            <div class="review-proper-container">
                                <div class="review-container">
                                    <div class="review-header">
                                        <div class="profile-container">
                                            <img src="{{profileImage}}" alt="Profile">
                                        </div>
                                        <div class="post-info">
                                            <div class="user-info-container">
                                                <a href="{{userPage}}">
                                                    <div class="user-name">{{userName}}</div>
                                                </a>
                                                <div class="time">{{timeAgo timePosted}}</div>
                                            </div>
                                        </div>
                                        <div class="rating-container">
                                            {{#times reviewRating}}
                                                <i class="fa-solid fa-star"></i>
                                            {{/times}}
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <a href = "{{orgPage}}">
                                            <div class = "review-body-header">{{orgName}}
                                                {{#if orgpage}}
                                                    <a href="/reviewedit">Edit Review</a>
                                                {{/if}}
                                            </div>
                                        </a>     
                                        <div class="review-text">{{reviewText}}</div>

                                        {{#if reviewImage}}
                                            <div class="image">
                                                <img src="{{reviewImage}}" alt="Review Image">
                                            </div>
                                        {{/if}}

                                        {{#if responseMessage}}
                                        <div class="response-container">
                                            <div class="response-header">{{orgName}} replied</div>
                                            <div class="response-message">
                                                <div>{{responseMessage}}</div>
                                            </div>
                                        </div>
                                        {{/if}} 

                                        {{#if orgpage}}
                                        <div class="reply-section">
                                            <button class="reply-btn">Reply to this Review</button>
                                            <div class="reply-box-container">
                                                <textarea class="reply-textbox" placeholder="Write a reply..."></textarea>
                                                <button class="submit-reply-btn">Submit</button>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="review-footer">
                                <div class="helpfulness-container">
                                    <div class="helpfulness-item">Mark as Helpful</div>
                                    <div class="helpfulness-item">Mark as Unhelpful</div>
                                </div>
                                <div class="likes-container">
                                    <div class="likes-container-content">{{dislikesCount}}</div>
                                    <div class="likes-container-content"><i class="fa-regular fa-thumbs-down"></i></div>
                                    <div class="likes-container-content">{{likesCount}}</div>  
                                    <div class="likes-container-content"><i class="fa-regular fa-thumbs-up"></i></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>